<%= provide(:title, 'About') %>
<div class="center hero-unit">
<h1>Wana Know more about divine's Blog</h1>
<h2>this blog is for young coders who wants to share there  coding nice experience and thats it...</h2>
</div>
