<%= provide(:title, "users") %>
<div class="row">
<aside class="span4">
	<section>
<h1>
<!--didnt test this so if its not working change it to gravatar_for-->
<%= avatar_for(@user)%> 
<%= @user.name %>
</h1>
 </section>
</aside>
</div>
